



/* big tablet to widths smaller than 1140px row: from 1024px to 1200px - ipad in landscape */

@media only screen and (max-width: 1200px) {
    
    .hero-text-box {
        
        width: 100%;
        padding: 0 2%;
    }
    
    .row { padding: 0 2%; }
    
}

/* small tablet to big tablets: from 768px to 1023px - ipad in portrait */

@media only screen and (max-width: 1023px) {
    
    body { font-size: 18px; }
    
    section { padding: 60px 0; }
    
    .long-copy {
        
        width: 80%;
        margin-left: 10%;
    }
    
    .steps-box {margin-top: 10px;}
    
    .steps-box:last-child { margin-top: 10px; }
    
    .wosk-steps {margin-bottom: 40px; }
    
    .wosk-steps:last-of-type {margin-bottom: 60px; }
    
    .app-screen { width: 50%; }
    
    .icon-small {
        
        width: 17px;
        margin-right: 3px;
    }
    
    .city-feature { font-size: 80%; }
    
    .plan-box {
        
        width: 100%;
        margin-left: 0%;
    }
    
    .plan-price { font-size: 250%; }
    
    .contact-form { width: 90%; }
    
    .footer-nav li { margin-right: 10px; }
}

/* small phones to small tablets: from 481px to 767px */

@media only screen and (max-width: 767px) {
    
    body { font-size: 16px; }
    
    section { padding: 30px 0; }
    
    .row,
    .hero-text-box { padding: 0 4%; }
    .col {
        width: 100%;
        margin: 0 0 4% 0;
    }
    
    .main-nav { display: none; }
    
    .mobile-nav-icon {display: inline-block; }
    
    .main-nav {
        float: left;
        margin-top: 35px;
        margin-left: 25px;
    }
    
    .main-nav li {
        display: block;
    }
    
    
    .main-nav li a:link,
    .main-nav li a:visited {
        display: block;
        border: 0;
        padding: 10px 0;
        font-size: 100%;
    }
    
    .sticky .main-nav { margin-top: 10px; }


    .sticky .main-nav li a:link,
    .sticky .main-nav li a:visited { padding: 10px 0; }
    .sticky .mobile-nav-icon { margin-top: 10px;  }
    .sticky .mobile-nav-icon i { color: #555; } 

    
    h1 {font-size: 180%; }
    
    h2 {font-size: 150%; }
    
    .long-copy {
        
        width: 100%;
        margin-left: 0%;
    }
    
    .app-screen { width: 40%; }
    
    .steps-box:first-child { text-align: center; }
    
    .work-steps div{
    width: 40px;
    height: 40px;
    padding: 4px;
    margin-right: 15px;
    font-size: 120%;
    }
    
    .work-steps { margin-bottom: 20px; }
    
    .work-steps:last-of-type { margin-bottom: 20px; }
    
    .footer-nav,
    .social-links { 
        float: none; 
        text-align: center;
    }
        
    .map-box {
        width: 100%;
        height: auto;
        position: relative;
    }

    .map {
        width: 100%;
        height: 300px;
        position: relative;
    }

    .form-box {
        position: relative;
        width: 100%;
        height: auto;
        padding: 30px 0;
    }
}


/* small phones: from 0px to 480px */

@media only screen and (max-width: 480px) {
    
    section { padding: 25px 0; }
    
    .contact-form { width: 100%; }
    
}

